img {
	max-width: 80vw;
	max-height: 60vh;
}

.contri {
	text-align: center;
}

button {
	background-color: red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 0.4em;
	font-weight: bold;
}
